<div class="gradient"></div>
<header>
  <div class="inner">
    <ul class="personal-nav">
      <%= active_link_to 'Health', root_path, active: [['health'], ['index']], wrap_tag: :li %>
    </ul>
  </div>
</header>
